*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.wow{
    width: 100%;
    height: 100vh;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.749)
    ,rgba(0, 0, 0, 0.749)), 
    url(programing.jpg);
    background-size: cover;
    background-position: center;
}
.sasa{
    width: 100%;
    position: absolute;
    top: 45%;
    transform: translateY(-20%);
    text-align: center;
}
.sasa h1{
    color: white;
    font-size: 60px;
}
p{
    color: white;
    transform: translateY(20%);
    font-size: 15px;
}
.ior{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ior h1{
    color: white;
    font-size: 30px;
}
.logo{
    width: 70px;
    cursor: pointer;  
}
.ior ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.ior ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.ior ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: .5s;
}
.ior ul li:hover::after{
    width: 100%;
}
button{
    width: 150px;
    padding: 5px 0;
    text-align: center;
    margin: 40px 10px;
    border-radius: 25px;
    font-weight: bolde;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}




span{
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: .5s;
}
button:hover span{
    width: 100%;
}
button:hover{
    border: none;
}
input{
    background: transparent;
    color: white;
    border: 3px solid #01cfbb;
    height: 33px;
    width: 300px;
    transform: translateY(-4px);
    padding: 0 10px;
    border-radius: 50px;
    font-weight: bold;
    outline: none;
}
::placeholder{
    color: rgb(122, 122, 122);
}
input:hover{
    background: rgba(134, 134, 134, 0.096);
}
hr{
    border: 2px solid #01cfbb;
}


.ior i{
    color: white;
    background: #01cfbb;
    border-radius: 25px;
    padding: 10px;
    transform: translateX(-50px) translateY(-5px);
    transition: .1s;
}
.ior i:hover{
    background: transparent;
    border: 3px solid #01cfbb;
    text-shadow: 0 0 5px #999;
}

/* -----------------------tani---------------------- */
.tet{
    background: #161616;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.somon{
    background: transparent;
    width: 150px;
    height: 200px;
    margin: 50px 15px;
    box-shadow: -1px 0 10px #000000;
    border-radius: 10px;
    padding: 20px;
    transition: .5s;
}
.somon:hover{
    transform: translateY(-10px);
}
h2{
    color: #01cfbb;
    text-shadow: 0 0 5px #999;
}
.tet h1{
    color: white;
    position: absolute;
    top: 107%;
    font-size: 40px;
    text-shadow: 0 0 5px #999;
}
/* -----------------------talt---------------------- */

.last{
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.749)
    ,rgba(0, 0, 0, 0.749)), 
    url(star.jpg);;
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
}
.last .logo{
    position: absolute;
    top: 10%;
}
.last a{
    color: #009688;
    text-decoration: none;
    padding: 0 5px;
    transform: translateX(-210px);
    transition: .3s;
}
a.son{
    border-left: 2px solid white;
}
a:hover{
    color: white;
}
/* -----------------------rab3---------------------- */
.ston i{
    font-size: 15px;
    padding: 8px;
    background: #2525258f;
    border-radius: 25px;
    transform: translateX(210px);
    transition: .5s;
    
}
.ston i#a{
    color: #373599;
}
.ston i#b{
    color: #527ff8ee;
}
.ston i#c{
    color: #f0a534dc;
}
.ston i#d{
    color: white;
}
.ston i#e{
    color: #ff0000af;
}

.ston:hover{
    cursor: pointer;
}

.ston i#a:hover{
    box-shadow: 0 0 10px #373599;
}
.ston i#b:hover{
    box-shadow: 0 0 10px #527ff8ee;
}
.ston i#c:hover{
    box-shadow: 0 0 10px #f0a534dc;
}
.ston i#d:hover{
    box-shadow: 0 0 10px white;
}
.ston i#e:hover{
    box-shadow: 0 0 10px #ff0000af;
}















